<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/loginStyles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>CoffeeMaker Login</title>
</head>
<body class="bg-dark">
	<div class="loginForm" id="customerLoginForm" ng-controller="myCtrl">
		<div class="profile-div">
			<i class="fas fa-solid fa-user fa-lg" id="profile-icon"></i>
			<h4 ng-model="customerName">{{customerName}}</h4>
		</div>
		<h1 class="mb-4">CoffeeMaker</h1>
		<button
			class="btn btn-outline-dark btn-dark text-light customer-login-button login-button order-btn"
			ng-click="viewPlaceOrder()">Place Order</button>
		<button
			class="btn btn-outline-dark btn-dark text-light customer-login-button login-button order-btn"
			ng-click="viewCurrentOrders()">View Current Orders</button>
		<button
			class="btn btn-outline-dark btn-dark text-light customer-login-button login-button order-btn"
			ng-click="viewPastOrders()">View Past Orders</button>
		<a ng-click="logout()" class="text-center mb-4 text-dark"
			style="cursor: pointer"> <i class="fas fa-sign-out-alt"></i> Log
			Out
		</a>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.js"></script>
	<script src="js/customerCoffee.js"></script>
</body>
</html>
