<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/loginStyles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Place Order</title>
</head>

<body class="bg-dark">
	<div class="loginForm" id="placeOrderForm" ng-controller="myCtrl">
		<h1>CoffeeMaker</h1>
		<div class="profile-div">
			<i class="fas fa-solid fa-user fa-lg" id="profile-icon"></i>
			<h4 ng-model="customerName">{{customerName}}</h4>
		</div>
		<form>
			<div class="form-group">
				<label for="drinkSelection">Select a drink:</label> 
				<select
					class="form-control" id="drinkSelection" ng-model="selectedDrink"
					ng-change="updatePrice()">
					<option value="" disabled selected hidden>Select a drink</option>
					<option ng-repeat="drink in drinks" value="{{drink}}"
						ng-bind="drink.name"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="quantity">Quantity:</label> 
				<input type="number"
					class="form-control" id="quantity" ng-model="quantity" min="1"
					ng-change="updatePrice()" required>
			</div>
			<div class="form-group">
				<label for="totalPrice">Total Price:</label> <input type="number"
					class="form-control" id="totalPrice" ng-model="totalPrice" disabled>
			</div>
			<button type="submit" class="btn btn-dark	login-button order-btn"
				ng-click="placeOrder()" style="cursor: pointer"
				ng-disabled="!selectedDrink || !quantity">Place Order</button>
		</form>
		<a ng-click="logout()" class="text-center text-dark"
			style="cursor: pointer"> <i class="fas fa-sign-out-alt"></i> Log
			Out
		</a>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.js"></script>
	<script src="js/placeOrders.js"></script>
</body>

</html>
